@model IndexViewModel

@{
    ViewData["Title"] = "Welcome aboard!";
}


@if (!Model.Songs.Any())
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the top chart music system!</h1>
        <p class="lead">So far there are no songs available, so just start adding some</p>
        <hr class="my-4">
        <p class="lead">
            <a asp-controller="Songs" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Song</a>
        </p>
    </div>
}

<div class="mb-5"></div>
<label>Example song:</label>

@{
    if (Model.Songs.Any())
    {
        var song = Model.Songs.FirstOrDefault();
        <div class="card-body">
            <h5 class="card-subtitle">@song.Artist</h5>
            <h5 class="card-title">@song.Title</h5>
            <h6 class="card-genre">@song.Genre</h6>
            <h6 class="card-likes">Likes: @song.Likes</h6>
            <a href="@song.SongUrl" class="card-link">Link here</a>
            <a asp-controller="Songs" asp-action="Lyrics" asp-route-id="@song.Id" class="card-link">Lyrics here</a>
        </div>
    }
}

<div class="mb-5">

    <div class="jumbotron">
        <div class="row">
            <h2 class="col-md-4 text-center">
                @Model.TotalSongs Songs
            </h2>
            <h2 class="col-md-4 text-center">
                @Model.TotalUsers Users
            </h2>
        </div>
    </div>
</div>
