@model AllSongsQueryModel

@{
    ViewBag.Title = "Songs Admin page";
}

<h4>Manage songs page</h4>
<a asp-area="" asp-controller="Artists" asp-action="Catalogue" class="btn btn-primary float-left ml-1">Manage Catalogue</a>
<a asp-area="Admin" asp-controller="Songs" asp-action="Add" class="btn btn-primary float-right ml-1">Add some Song</a>
    @{
        var previousPage = Model.CurrentPage - 1;
        if (previousPage < 1)
        {
            previousPage = 1;
        }

        var maxPage = Math.Ceiling((double)Model.TotalSongs / AllSongsQueryModel.SongsPerPage);
    }

    <div class="row mb-5">
        <div class="col-md-6">
            <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-area="Admin"
               asp-controller="Songs"
               asp-action="Manage"
               asp-route-currentPage="@previousPage"
               asp-route-artist="@Model.Artist"
               asp-route-searchTerm="@Model.SearchTerm"><<</a>
        </div>

        @{ var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                                             !Model.Songs.Any(); }

        <div class="col-md-6">
            <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
               asp-area="Admin"
               asp-controller="Songs"
               asp-action="Manage"
               asp-route-currentPage="@(Model.CurrentPage + 1)"
               asp-route-artist="@Model.Artist"
               asp-route-searchTerm="@Model.SearchTerm">>></a>
        </div>
    </div>

    @if (!Model.Songs.Any())
    {
        <h2 class="text-center">There are no songs available!</h2>
    }

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Artist Name</th>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Visible</th>
            <th scope="col">Lyrics</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model.Songs)
        {
            <tr>
                <td scope="col">@song.ArtistName</td>
                <td scope="col">@song.Title</td>
                <td scope="col">@song.Genre</td>

                <td scope="col">@(song.IsApproved ? "Yes" : "No")</td>
                <td scope="col">
                    <a asp-area="" asp-controller="Songs" asp-action="Lyrics" asp-route-id="@song.Id" class="btn btn-info ml-0">Lyrics</a>
                    <a href="@song.SongUrl" class="btn btn-info ml-5">Link</a>
                    <a asp-area="Admin" asp-controller="Songs" asp-action="Delete" asp-route-id="@song.Id" class="btn btn-danger float-right ml-3">Delete</a>
                    <a asp-area="Admin" asp-controller="Songs" asp-action="Edit" asp-route-id="@song.Id" class="btn btn-warning float-right ml-3">Edit</a>
                    <a asp-area="Admin" asp-controller="Songs" asp-action="ChangeVisibility" asp-route-id="@song.Id" class="btn btn-info float-right ml-3">@(song.IsApproved ? "Hide" : "Show")</a>
                </td>
            </tr>
        }

    </tbody>
</table>