@model SongsQueryModel

@{
    ViewBag.Title = "All Songs";
}

@*
    <form method="get">
            <div class="row">

                <div class="form-group col-md-4">
                    <div class="form-group">
                        <label asp-for="Artist"></label>
                        <select asp-for="Artist" class="form-control">
                            <option value="">All</option>

                            @foreach (var artist in Model.Artists)
                            {
                                <option value="@artist">@artist</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="SearchTerm"></label>
                    <input asp-for="SearchTerm" class="form-control" placeholder="A song's title">
                </div>

            </div>
            <input type="submit" class="btn btn-primary d-none">
        </form>*@

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalSongs / SongsQueryModel.SongsPerPage);

}

<div class="row mb-5">

    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Songs" asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-artist="@Model.Artist"
           asp-route-searchTerm="@Model.SearchTerm"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
           asp-controller="Songs" asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-artist="@Model.Artist"
           asp-route-searchTerm="@Model.SearchTerm">>></a>
    </div>
</div>

@if (!Model.Songs.Any())
{
    <h2 class="text-center">No songs found by the given criteria!</h2>
}

<div class="row">
    @foreach (var song in Model.Songs)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle">@song.Artist</h5>
                <h5 class="card-title">@song.Title</h5>
                <h6 class="card-genre">@song.Genre</h6>
                <h6 class="card-likes">Likes: @song.Likes</h6>
                <a href="@song.SongUrl" class="card-link">Link here</a>
                <a asp-controller="Songs" asp-action="Lyrics" asp-route-id="@song.Id" class="card-link">Lyrics here</a>
            </div>
        </div>
    }
</div>


